.html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 97%;
  width: 5%;
  padding-top: 20px;
  background-color: beige;
  /* have a border radius? */
}

.main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  padding-left: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.spaced {
  justify-content: space-between;
  align-items: center;
  width: 120px;
  margin-right: 3rem;
}

.video-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  padding-top: 40px;
}

.video-thumbnail {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 15px;
  /* height: 120px; */
  width: 250px;
  margin: 30px;
  overflow: hidden;
}

.thumbnail-image {
  height: 150px;
  width: 250px;
}
